<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfBasic.Calci" behaviorConfiguration="wsdlEnable">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBasic.ICalculator"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsdlEnable">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="calci.svc"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
