@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <img src="@Url.Action("image",new{id=1234})" style="width:50px;height:50px;" />
    </div>
</body>
</html>
