@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddDomains", "home"))
        {
            <label>Enter comma saperated domains to while list:</label><br />
            @Html.TextArea("domains")<br />
            <input type="submit" value="Add Domains" />
        }
    </div>
</body>
</html>
