@model MvcAjax2.Models.Comment
<table>
		 <tr>
             <td>User</td>
             <td>@Model.UserName</td>
		 </tr>
        <tr>
             <td>Comment</td>
             <td>@Model.CommentText</td>
		 </tr>
</table>